.section-one > h1 {
    grid-column: 1 / 4;
}

.animais-list {
    height: 400px;
    overflow-y: scroll;
    grid-column: 2;
    cursor: pointer;
    scrollbar-color: var(--cor3) var(--cor5);
}

.animais-description {
    grid-column: 3;
}

.animais-description section {
    margin-bottom: 50px;
}

.animais-description h2 {
    color: var(--cor2);
    margin-bottom: 15px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.animais-description h2::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 7px;
    background-color: var(--cor3);
    margin-right: 10px;
    margin-bottom: 5px;
}

.animais-description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 15px;
}


@media(max-width:650px){
    .animais-list{
         
         grid-column: 1;
    }
}