@import url('layout/global.css');
@import url('layout/header.css');
@import url('layout/sectionAnimais.css');
@import url('layout/sectionCurio.css');
@import url('layout/contatos.css');
@import url('layout/fotter.css');
